<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
    <p>I'm a student of Electrical and Computer Engineering and I'm passionate about programming. I love learning and sharing my knowledge and using my knowledge to build products. In order to achieve this I have been part of HackerSchool - IST where I gave several workshops to other students on Arduino, Electronics and Programming.<br>My major is Computer Engineering and minor is Telecommunications. My master thesis is: "Combining Many-Objective Evolutionary Algorithms in a distributed environment using Many Objectives, Many Processors" and I love Aritificial Intelligence.</p>
</div><!--//summary-->
</section><!--//section-->