 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Msc in Electrical and Computer Enginnering</h4>
    <h5 class="meta">Instituto Superior Técnico</h5>
    <div class="time">2010-Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Erasmus - Msc inComputer Engineer</h4>
    <h5 class="meta">Università degli Studi di Padova</h5>
    <div class="time">October 2015 - July 2017</div>
</div><!--//item-->
</div><!--//education-container-->