<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Back-end Developer</h3>
                            <div class="time">October 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Landing.jobs - Lisbon, PT</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Built the back-end of a salary calculator application for Portugal and the UK in order to help Landing.jobs better understand their candidates and their target markets.</p>  
                        <p>During this time I used the following Tech Stack: Ruby on Rails v5, Postgre SQL, SQLite3, Git, Heroku</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship - Data Analyst</h3>
                            <div class="time">August 2016 - October 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Landing.jobs - Lisbon, PT</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working closely with Landing.jobs co-founder Pedro Oliveira where I researched and analysed several different metrics in order to help Landing.jobs prepare and validate their strategies and goals.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship - Software Developer</h3>
                            <div class="time">July 2015 - September 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">INESC - Lisbon, PT</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Internship at Intelligent Agents and Synthetic Characters Group of Instituto Superior Técnico, where I developed an agent to compete in the Geometry Friends annual competition. Geometry Friends is a two player cooperative computer game. It is a platform game in a 2D environment with simulated physics (with gravity and friction). The goal of the players is to gather a set of diamonds in the least amount of time. In this competition the agent of me and my colleague achieved first and third place in the circle and rectangle, respectively. As a follow-up to our good results we wrote a paper that was accepted and presented at the DiGRA-FDG Conference 2016 in Dundee, Scotland.</p>
                        <p>For this project the Tech Stack was: C# and Git.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Collaborator & Vice-President</h3>
                            <div class="time">September 2013 - September 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">HackerSchool - Lisbon, PT</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Joined early on a student organisation that focuses in spreading the mindset of learn-by-doing and peer learning inspired in the values of the Maker community.</p>
                        <p>Managed a team of around 30 students where we had weekly events with an average attendance of 20 students (outside to the organization).</p>
                        <p>Gave workshop on Arduino, Electronics and Programming (Python, Java and C) to groups of people aged from 9 - 50 years old.</p>
                        <p>Set up partnerships with companies and other student organisations in order to have community events and funding for our activities and projects.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->