<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>During my student career I have always had a deep interesting in trying to apply some of the concepts I learned into actual products and projects.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/FranciscoMLeal/asint-ruby">Student room booking</a></span> - <span class="project-tagline">For the Internet Bases Systems Architecture Course Final Project I built a Ruby on Rails app that connects to Postgre SQL database, as one part of a project to manage student booking of rooms to study on.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://enigmatic-sands-16322.herokuapp.com/" target="_blank">Salary Calculator</a></span> - 
                    <span class="project-tagline">While working with Landing.jobs I built a Ruby on Rails app that allows you to calculate your net salary from your gross income and allowances for the Portuguese and UK taxing system.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/FranciscoMLeal/GeometryFriends" target="_blank">Geometry Friends</a></span> - <span class="project-tagline">While interning at INESC I developed the circle agent for the game Geometry Friends, using Rapidly Exploring Random Trees.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/FranciscoMLeal/Concurrent-Web-Server" target="_blank">Concurrent Web Server in C</a></span> - <span class="project-tagline">Built a multi-threaded concurrent web server in C for the course Systems Programming of IST</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/goncalor/POO/tree/master/Project" target="_blank">Dynamic Bayesian Network Learning</a></span> - <span class="project-tagline">Built a project for value prediction using Dynamic Bayesian Networks in Java for the Object Oriented Programming course.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://hackerschool.io/portfolio/chave-nah/" target="_blank">Smart Kettle</a></span> - <span class="project-tagline">During an HackerSchool event LX Reactor 2014, built a smart kettle together with four other students. We bought and modified a cheap kettle and implemented a temperature sensor and controlled the water temperature in order to be able to serve tea at just the right temperature.</span>
                </div><!--//item-->
            </section><!--//section-->